@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.jotiOneWelcome {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
}
