@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");*/



/* Global Styles */
* {
    box-sizing: border-box;
    font-family: "M PLUS 1 Code", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #5a5a5a; /* More convenient color for the eyes */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

h2, h3 {
    font-weight: 500;
}

main {
    align-items: flex-start;
}

.root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

footer {
    margin-top: auto;
}

/* Utility Classes */
.text-balance {
    text-wrap: balance;
}

.op, .fake-link {
    color: rgb(33, 210, 246);
    cursor: pointer;
    text-decoration: underline;
    font-variant: small-caps;
    font-weight: 500;
}

/* Override Bootstrap Link Styles with Higher Specificity */
a, a:link, a:visited {
    color: #5a5a5a !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

/* Custom Button Styles */
.btn {
    display: inline-block;
    padding: 0.5rem; /* Equivalent to Tailwind's p-2 */
    background-color: transparent !important;
    color: rgb(116, 116, 116) !important;
    border-color: rgb(196, 196, 196) !important;
    border-radius: 4px !important;
    align-self: flex-start;
}
