@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.jotiOneWelcome {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
}
.imageContainer {
    position: relative;
    width: 100%;
    height: 500px; /* Set your preferred height */
    overflow: hidden;
}

.styledImage {
    filter: grayscale(100%); /* Apply monochrome effect */

    -webkit-mask-image: radial-gradient(circle at bottom left, transparent 20%, black 60%);
    mask-image: radial-gradient(circle at bottom left, transparent 20%, black 60%);
    mask-composite: intersect;
}

